.footer__column-link {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: 0.33;
  transition: opacity 1s linear;
}
