@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 568px;
  height: 568px;
  background: #2f80ed;
  z-index: 0;
  animation: rotation 20s linear infinite;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  background-size: 228px 32px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  margin: 30px 0 0 64px;
  padding: 0;
  z-index: 2;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header__link:hover {
  opacity: 0.33;
  transition: 1s linear;
}

.header__main-illustration {
  object-fit: contain;
  object-position: right bottom;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 100px 0 0;
  padding: 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type {
  margin: 0;
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto 0;
  padding: 0;
  background-color: white;
}

.section-title {
  margin: 100px 0 0;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px 0 0;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 920px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
  padding: 0;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 0;
}

.cards__title {
  margin-top: 43px;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin-top: 16px;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.video__inframes {
  margin: 50px auto -30px auto;
  padding: 0;
}

.video__inframe {
  margin: 0;
  padding: 0;
  width: 515px;
  height: 316px;
}

.video__inframe:first-of-type {
  margin-right: 20px;
}

.oakley {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 160px 0 0;
  background-color: #f2f2f2;
}

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 100px 0 0;
  padding: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}

.feynman__subtitle {
  margin: 70px 0 0;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.33;
  transition: 1s linear;
}

.feynman__main-picture {
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position:absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 867px;
  height: 637px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 100px;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  margin: 60px 0 0;
  padding: 0;
  width: 250px;
}

.table__cell_theme_dark {
  margin: 80px 0 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  color: white;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0;
  padding: 0;
  line-height: 1.20;
  font-size: 18px;
  font-weight: normal;
}

.table_text_accent {
  margin: 20px 0 0;
  padding: 0;
  line-height: 1.20;
  font-size: 18px;
  font-weight: normal;
}

.khan {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.khan__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 105px auto 0;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 50px 0 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 36px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 10px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 68px;
}

.khan__book-pic {
  object-fit: cover;
  object-position: top left;
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.33;
  transition: 1s linear;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  margin: 90px 0 0;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table_theme_dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  list-style-type: none;
  margin: 0 auto 90px;
  z-index: 2;
}

.table__cell_theme_dark {
  margin: 80px 0 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  margin: 0;
  padding: 0;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  animation: rotation 20s linear infinite;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.resources__logo-zone {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-around;
  margin: 80px auto 217px;
  padding: 0;
  width: 1100px;
  list-style: none;
}

.resources__link {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 38px;
}

.resources__link:hover {
  opacity: 0.33;
  transition: 1s linear;
}

.footer {
  box-sizing: border-box;
  display: flex;
  min-height: 350px;
  margin: 0;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-size: 228px 32px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.footer__author {
  margin: 18px 0 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  opacity: 0.33;
  transition: 1s linear;
}

.footer__social-icon {
  margin: 0;
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}
